      <h2>
                    <%=link_to post.title, post%>
                </h2>
                <p class="lead">
                    by <%=post.user.user_name%>
               
                <span class="glyphicon glyphicon-time"></span> Posted on <%=post.created_at%></p>
                <hr>
                <%=image_tag post.image_url(:thumb) if post.image?%> 
                <hr>
                <p><%= truncate(strip_tags(post.content), :length => 150) { link_to "Read More", post_path(post), :class=>'btn btn-primary' }%></p>
                <hr>
                <!-- Pager -->
